.mainContainer {
  height: 100vh;
}

.textAlignCenter {
  text-align: center;
}

.buttonIconPlayPause {
  padding-left: 1em;
  padding-right: 1em;
}

.buttonIconVol {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
